/* .gerd{
    border-radius: 0 80px 0px 80px;
    padding: 70px;
    transition: 0.5s;
        box-shadow: -10px 8px 19px rgba(0, 0, 0, 0.795);

}

.gerd:hover{
    transition: 0.5s;
    border-radius: 100px 0 100px 0;
    box-shadow: 7px 10px 30px rgba(0, 0, 255, 0.473);
}

.bg-full{
    background: #555;
}

.myText{
    font-size: 15px;
}

.sText{
    font-size: 10px;
    color: red;
}

.myLine{
   border-bottom: 1px solid black;
width: 50%;   

} */