.AutoComplete {
  width: 100%;
  border: 0 0 0 1px solid grey;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.73);
}
.AutoComplete input {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  height: calc(3rem + 2px) !important;
  border-radius: 4px;
}
.AutoComplete ul {
  list-style-type: none;
  text-align: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.73);
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  border: 1px 1px 1px 1px solid grey;
  background-color: white;
  width: 100%;
}
.AutoComplete li {
  padding: 10px 5px;
  cursor: pointer;
}
.AutoComplete li:hover {
  background-color: rgba(165, 167, 190, 0.993);
}
/*search box css start here*/
.search-sec {
  padding: 2rem;
}
.search-slt {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;

  border-radius: 4px;
}
.wrn-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius: 4px;
}
